<footer class="footsie">
  <div class="leftFooter" style="text-align:center">
    <p>
      <span style="font-weight:bold;font-family: rustico">Useful Links</span>
      <ul>
        <li class="list">
          <a href="javascript:void(0)" class="nav-links" onclick="toggle_visibility('popupBoxHTML1');">Contact Us</a>
          <div id="popupBoxHTML1">
              <div class="popupBoxWrapper">
                  <div class="popupBoxContent" style='height:550px'>
                      <a href="javascript:void(0)" onclick="toggle_visibility('popupBoxHTML1');" style='padding-left: 850px;padding-top: -600px'>close</a>
                      <h1 style='font-family: cursive; font-size: 60px'>Contact Us </h1>
                      <div class="Contactcontainer">  
                              <form id="contact" action="" method="post">
                              
                                <h4>Contact us today, and get reply with in 24 hours!</h4>
                                <fieldset>
                                  <input placeholder="Your name" type="text" tabindex="1" required autofocus>
                                </fieldset>
                                <fieldset>
                                  <input placeholder="Your Email Address" type="email" tabindex="2" required>
                                </fieldset>
                                <fieldset>
                                  <input placeholder="Your Phone Number" type="tel" tabindex="3" required>
                                </fieldset>
                                <fieldset>
                                  <textarea placeholder="Type your Message Here...." tabindex="5" required></textarea>
                                </fieldset>
                                <fieldset>
                                  <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
                                </fieldset>
                              </form>
                      </div>
                  </div>
              </div>
          </div>

        </li>
        <li class="list">
            <a href="javascript:void(0)" class="nav-links" onclick="toggle_visibility('popupBoxHTML2');">Admin</a>
            <div id="popupBoxHTML2">
                <div class="popupBoxWrapper">
                    <div class="popupBoxContent" style='height:350px'>
                        <a href="javascript:void(0)" onclick="toggle_visibility('popupBoxHTML2');" style='padding-left: 850px;padding-top: -600px'>close</a>
                        <h1 style='font-family: cursive; font-size: 60px'>Admin Login Only !! </h1>
                        <div class="Contactcontainer">  
                                <form id="contact" action="" method="post">
                                
                                  
                                  
                                  <fieldset>
                                    <input placeholder="Admin Email Address" type="email" tabindex="2" required>
                                  </fieldset>
                                  <fieldset>
                                    <input placeholder="Password" type="tel" tabindex="3" required>
                                  </fieldset>
                                  
                                  <fieldset>
                                    <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
                                  </fieldset>
                                </form>
                        </div>
                    </div>
                </div>
            </div>

        </li>
        <li class="list"><a href="">Privacy &amp; Security</a></li>
        <li class="list">
          <a href="javascript:void(0)" class="nav-links" onclick="toggle_visibility('popupBoxHTML');">About Us</a>
           <div id="popupBoxHTML">
            <div class="popupBoxWrapper">
              <div class="popupBoxContent">
                <a href="javascript:void(0)" onclick="toggle_visibility('popupBoxHTML');" style='padding-left: 850px;padding-top: -600px'>close</a>
                <h1 style='font-family: cursive; font-size: 60px'>About Us !! </h1>

                <p style="padding-top:25px">Shop with us for the most fashionable and trendy Accessories.
                  We are here to deliver quality and affordable jewelry that is unique and
                  authentic. Every beautiful piece is designed and handcrafted then shipped.
                  We deliver all over USA, India and Canada.</p>
              </div>
            </div>
          </div>
        </li>
       <li style="font-size: 1.4em;">  <ul class="social-icons">
          <li><a href="https://www.facebook.com/wardrobebymitali/?ref=bookmarks" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
          <li><a href="https://twitter.com/" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
         
   
          <li><a href="https://www.linkedin.com/" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
          <li><a href="https://www.fa-google-plus.com" class="social-icon"> <i class="fa fa-google-plus"></i></a></li>
      </ul></li>

    </p>
  </div>
  <div class="middleFooter">
    <p>
      <span style="font-weight:bold;font-family: rustico">Address</span>
      <ul>
        <li class="list">Wardrobe</li>
        <li class="list">4220 Adagio Pl,</li>
        <li class="list">Round Rock,TX</li>
        <li class="list">78681</li>
        <li class="list google"><a href="https://www.google.com/maps/place/Round+Rock,+TX/">View on Google Maps</a></li>

      </ul>

    </p>
  </div>
  <div class="rightFooter">
    <p>
      <span style="font-weight:bold;font-family: rustico">Legal</span>
      <ul>
        <li class="list">Copyright &copy;2012 - 2016</li>
        <li class="list">All rights reserved.</li>
        <li class="list">Terms &amp; Conditions</li>
      </ul>

    </p>
  </div>

</footer>