<% include header.ejs %>

<body>
    <img id="image" src="https://highjewellerydream.com/wp-content/uploads/2017/04/rihanna-wearing-the-rihanna-e299a5-chopard-joaillerie-collection.jpg"
        style="background-repeat: no-repeat;
      background-size: 80%;
      width: 100%;
      height: auto\9;
      
      overflow: hidden;">
    <p></p>

    <script>

        var imageSources = ["http://hdqwalls.com/download/model-wearing-jewellery-12-2048x1152.jpg",
            "https://s-media-cache-ak0.pinimg.com/originals/26/17/db/2617db8f00bba0fc9078cf257da0e93d.jpg",
            "https://www.vahanjewelry.com/content/files/00/4b/15/63Bu7w7duaIF.jpg",
            "https://beautyhealthtips.in/wp-content/uploads/2018/03/maxresdefault-1.jpg"
        ]

        var index = 0;
        setInterval(function () {
            if (index === imageSources.length) {
                index = 0;
            }
            document.getElementById("image").src = imageSources[index];
            index++;
        }, 2000);

    </script>

    <div style="display:inline-block;">
            <h1 style='padding: 40px;text-align: center;font-size: 80px;' class="unicornClass">Category</h1>
        <a href="/Rings" style="margin-right: -3px">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRA7Ton-H4tNHBaO_qht1yfXtDrO5MYKE0x5nCoXk43i4sH3fiQeQ"
                alt="ring" style="height:400px;width:355px">
                
            </a>


        <a href="/earrings" style="margin-right: -4px">
            <img src="https://diamant.graphics/wp-content/uploads/2015/08/Colorless-black-diamond-drop-earrings.jpg"
                alt="earrings" style="height:400px;width:355px;">
        </a>

        <a href="/necklace" style="margin-right: -3px">
            <img src="https://i.pinimg.com/236x/ee/ee/e3/eeeee3968c788a5f154941a5cb010f89--famous-women-black-backgrounds.jpg"
                alt="necklace" style="height:400px;width:355px">
        </a>
        <a href="/bracelets" >
            <img src="https://www.antonyjewelers.com/media/catalog/items/736f9e9d-ac94-4f5f-a1ee-4ec68c14cef3.png.350x350_q85_background.png"
                alt="bracelets" style="height:400px;width:355px">
        </a>
    </div>
    <!-- <div style='padding-top: 40px;text-align: center'>
        <h1>Featured Items</h1>
      
        
      
    </div> -->


</body>
<% include footer.ejs %>

</html>